<!DOCTYPE html>
<html>
  <head>
    <title>jsonDB</title>
    <style>
		body {
			background-color: #050505;
		}
		.entry {
			background-color: #202020;
			padding: 2%;
		}
    </style>
    <script src="../../socket.io/socket.io.js"></script>
  </head>
  <body>

	<div id="entrylist">
	</div>

    <script>
            var socket = io.connect('http://localhost:8080');

            // append text if someone is online
			socket.on('login', function(entriesdata) {
				entries = JSON.parse(entriesdata)

				entries.forEach(entry => {
					console.log(JSON.stringify(entry));

					var entrynode = document.createElement(`button`);
					entrynode.classList.add('entry');
					entrynode.innerHTML = `${entry.name}`;
					entrynode.onclick = function() {
						alert(`${entry.id}`);
					};
					var entrylist = document.getElementById('entrylist');
					entrylist.appendChild(entrynode);
				});
	        });

            // ask password to login
            var password = prompt('password');
            socket.emit('password', password);

    </script>
  </body>
</html>